@font-face {
    font-family: "Belia Anestasha";
    src: url("./belia-anestasya-belia-anestasya-400.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Belia Anestasha";
    src: url("./belia-anestasya-belia-anestasya-400.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Belia Anestasha";
    src: url("./belia-anestasya-belia-anestasya-400.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
  }